@charset "utf-8"


@import mixins/_rwd
@import mixins/_font

@import partials/_base


// gallery start
.card-gallery[data-style="1"] 
    .gallery-outbox
        position: relative
        margin: 60px 80px 140px

        +breakpoint(zone-base) 
            margin: 60px 60px 50px

        +breakpoint(mobile-landscape) 
            margin: 30px 15px

    .card-title
        margin-left: 60px
        margin-bottom: 80px
        
        +breakpoint(pad-portrait) 
            margin-left: 19px

        +breakpoint(mobile-landscape) 
            margin-left: 15px
            margin-bottom: 30px

    .gallery-box 
        .item
            width: calc(33.33% - 0px)
            padding: 0 15px
            margin-bottom: 35px
            transition: .7s ease-in-out
            overflow: hidden
            cursor: pointer

            +breakpoint(pad-portrait) 
                width: calc(50% - 0px)
                padding: 0 15px
                margin-bottom: 20px
            
            &:hover
                transform: scale(0.95)
                
                img
                    transform: scale(1.1)

            img
                width: 100%
                transition: .7s ease-in-out
                overflow: hidden  
// gallery end





