
doctype html
html(lang="zh-Hant-TW")
    head
        include ./includes/meta.pug
        include ./includes/link.pug
        include ./includes/script.pug
        link(rel="stylesheet" href="./styles/gallery.css")
        title Bakery Gallery
    body 
        -var breadtag = ['來點相簿']
        //- header start
        include ./includes/header.pug
        
        //- header end

        .wide-container
            //- breadcrumb start
            include ./includes/breadcrumbs.pug
            //- breadcrumb end
            //- product start
            .card-gallery(data-style="1") 
                .gallery-outbox
                    .card-title
                        .cn 來點相簿
                        .en Photos
                    .gallery-box.image-waterfall 
                        a.item.openInfo(href="#item-01")
                            img(src="./images/photo/photo01.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-01
                                .img-content
                                    img(src="https://fakeimg.pl/800x400/")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-02") 
                            img(src="./images/photo/photo02.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-02
                                .img-content
                                    img(src="./images/photo/photo02.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-03")  
                            img(src="./images/photo/photo03.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-03
                                .img-content
                                    img(src="./images/photo/photo03.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-04") 
                            img(src="./images/photo/photo04.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-04
                                .img-content
                                    img(src="./images/photo/photo04.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-06")
                            img(src="./images/photo/photo06.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-06
                                .img-content
                                    img(src="./images/photo/photo06.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-05") 
                            img(src="./images/photo/photo05.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-05
                                .img-content
                                    img(src="./images/photo/photo05.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-09")
                            img(src="./images/photo/photo09.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-09
                                .img-content
                                    img(src="./images/photo/photo09.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-07") 
                            img(src="./images/photo/photo07.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-07
                                .img-content
                                    img(src="./images/photo/photo07.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        a.item.openInfo(href="#item-08")  
                            img(src="./images/photo/photo08.png")
                        .popup-content.d-none
                            .gallery-colorbox#item-08
                                .img-content
                                    img(src="./images/photo/photo08.png")
                                .info-box 
                                    .info 
                                        ul 
                                            li
                                                span  攝影者
                                                span  珊蒂
                                            li
                                                span  來源出處
                                                span  https://www.instagram.com/sandy
                                    a.goto-btn(href="javascript:;") 前往商品
                        
            //- product end

            //- footer start
            include ./includes/footer.pug
            //- footer end


    script(src="./script/mesonry/masonry.pkgd.min.js")
    script.
        $(function() {
            var ww = $(window).width()
            $('.image-waterfall').masonry({
                // options
                itemSelector: '.item',
                percentPosition: true,
            });

            $(".openInfo").colorbox({
                inline: true,
                rel: 'gallery',
                width: '100%',
                height: '100%',
                maxWidth: "69.23%",
                maxHeight: (ww > 430) ?  "900px" : "550px",
                fadeOut: 100,
                closeButton: false,
                onOpen: function() {
                    var offset = document.body.scrollTop;
                    $('body').css({
                        'position': 'fixed',
                        'left': 0,
                        'right': 0,
                        'top': (offset * -1),
                        'width': '100%',
                        'height': '100%'
                    });
                },
                onClosed: function() {
                    var offset = parseInt(document.body.style.top, 10);
                    document.body.scrollTop = (offset * -1);
                    $('body').removeAttr('style');
                },
            });
                    

        });
        
