
doctype html
html(lang="zh-Hant-TW")
    head
        include ./includes/meta.pug
        include ./includes/link.pug
        include ./includes/script.pug
        link(rel="stylesheet" href="./styles/index.css")
        title Bakery 首頁
    body.index 
        //- header start
        include ./includes/header.pug
        //- header end

        //- landing page start
        .zone
            .card-manvision 
                .bg-img.desktop(style="background-image: url('./images/index/landing-page.png')")
                .bg-img.mobile(style="background-image: url('./images/index/landing-page-mobile.png')")
                img.logo(src="./images/logo.png")
        //- landing page end

        .wide-container
            //- product start
            .card-product 
                .product-outbox
                    .swiper-container.product-box 
                        .swiper-wrapper 
                            .swiper-slide 
                                a.img-content(href="javascript:;") 
                                    .img(style="background-image: url('./images/index/product01.png')")
                                    .link
                                        span MORE
                                        img(src="./images/arrow-down.png")
                                .product-title 可頌系列
                            .swiper-slide 
                                a.img-content(href="javascript:;") 
                                    .img(style="background-image: url('./images/index/product02.png')")
                                    .link
                                        span MORE
                                        img(src="./images/arrow-down.png")
                                .product-title 瑪芬系列
                            .swiper-slide 
                                a.img-content(href="javascript:;") 
                                    .img(style="background-image: url('./images/index/product03.png')")
                                    .link
                                        span MORE
                                        img(src="./images/arrow-down.png")
                                .product-title 馬卡龍系列
                            .swiper-slide 
                                a.img-content(href="javascript:;") 
                                    .img(style="background-image: url('./images/index/product04.png')")
                                    .link
                                        span MORE
                                        img(src="./images/arrow-down.png")
                                .product-title 多拿滋系列
                            .swiper-slide 
                                a.img-content(href="javascript:;") 
                                    .img(style="background-image: url('./images/index/product05.png')")
                                    .link
                                        span MORE
                                        img(src="./images/arrow-down.png")
                                .product-title 磅蛋糕系列
                            .swiper-slide 
                                a.img-content(href="javascript:;") 
                                    .img(style="background-image: url('./images/index/product06.png')")
                                    .link
                                        span MORE
                                        img(src="./images/arrow-down.png")
                                .product-title 吐司系列
            //- product end
            //- event start
            .card-event 
                .card-main-title
                    .cn 最新活動
                    .en Events
                .event-outbox
                    .event-container
                        .event-box.swiper-container 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .img-content 
                                        .img(style="background-image: url('./images/index/event01.png')")
                                        a.link(href="javascript:;")
                                            span MORE
                                            img(src="./images/arrow-down.png")
                                .swiper-slide 
                                    .img-content 
                                        .img(style="background-image: url('./images/index/event02.png')")
                                        a.link(href="javascript:;")
                                            span MORE
                                            img(src="./images/arrow-down.png")
                        .swiper-button.swiper-button-prev
                        .swiper-button.swiper-button-next
            //- event end
            //- intro start
            .card-intro
                .intro-box.swiper-container 
                    .swiper-wrapper 
                        .swiper-slide 
                            .img(style="background-image: url('./images/index/about01.jpg')")
                        .swiper-slide 
                            .img(style="background-image: url('./images/index/about02.jpg')")
                        .swiper-slide 
                            .img(style="background-image: url('./images/index/about03.jpg')")
                        .swiper-slide 
                            .img(style="background-image: url('./images/index/about04.jpg')")
                .intro-content
                    .intro-title 
                        span 來點
                        span 小故事
                    .intro-txt
                        p 關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹。
                        p 關於我們介紹文字關於我們介紹文字關於我們介紹文字關於我們介紹文字。
            //- intro end

            //- popular product start
            .card-popular-product
                .product-item 
                    .left
                        .product-tag
                            img(src="./images/product-img.png")
                        .product-main-title 法式經典檸檬塔
                    .right
                        .product-des
                            .product-title Lemon Curd Tarts
                            .product-txt 滑順的檸檬奶醬，與香酥的手工塔皮搭配在一起，帶來酸甜清爽的風味，讓你每天都想來一顆。
                        .product-img 
                            .img(style="background-image: url('./images/index/popular01.png')")
                    .more-link 
                        a(href="javascript:;") MORE
                .product-item 
                    .left
                        .product-img 
                            .img(style="background-image: url('./images/index/popular02.png')")
                        .product-des
                            .product-title Ｃocoa Macaron
                            .product-txt 由酥脆的外殼、綿密Q實的內餡，達到層次堆疊的口感，濃郁的巧克力餡入口時將有滿滿的幸福感。
                    .right
                        .product-main-title 濃郁可可馬卡龍
                        .product-tag
                            img(src="./images/product-img.png")
                    .more-link 
                        a(href="javascript:;") MORE
                .product-item 
                    .left
                        .product-tag
                            img(src="./images/product-img.png")
                        .product-main-title 花香多拿滋
                    .right
                        .product-des
                            .product-title Baked glazed donuts with floral garnish
                            .product-txt 淡淡的花香與甜味，加上迷人的外型，帶給大家兼具味覺與視覺的雙重享受。
                        .product-img 
                            .img(style="background-image: url('./images/index/popular03.png')")
                    .more-link 
                        a(href="javascript:;") MORE
                .product-item 
                    .left
                        .product-img 
                            .img(style="background-image: url('./images/index/popular04.png')")
                        .product-des
                            .product-title Blueberry Muffins
                            .product-txt 介於麵包與蛋糕之間，口感紮實、結構卻相當鬆軟，酸甜的藍莓香氣在咬下去的煞那瞬間溢出。
                    .right
                        .product-main-title 英式藍莓瑪芬
                        .product-tag
                            img(src="./images/product-img.png")
                    .more-link 
                        a(href="javascript:;") MORE
            //- popular product end

            //- photo start
            .card-photo 
                .card-main-title
                    .cn 來點相簿
                    .en Photos
                .photo-list.swiper-container 
                    .swiper-wrapper 
                        .swiper-slide 
                            a.swiper-slide-inner(href="javascript:;")
                                .img(style="background-image: url('./images/index/photo01.png')")
                        .swiper-slide 
                            a.swiper-slide-inner(href="javascript:;")
                                .img(style="background-image: url('./images/index/photo02.png')")
                        .swiper-slide                             
                            a.swiper-slide-inner(href="javascript:;")
                                .img(style="background-image: url('./images/index/photo03.png')")
                        .swiper-slide     
                            a.swiper-slide-inner(href="javascript:;")
                                .img(style="background-image: url('./images/index/photo04.png')")
                        .swiper-slide     
                            a.swiper-slide-inner(href="javascript:;")
                                .img(style="background-image: url('./images/index/photo05.png')")
                        .swiper-slide    
                            a.swiper-slide-inner(href="javascript:;")
                                .img(style="background-image: url('./images/index/photo06.png')")
            //- photo end

            //- footer start
            include ./includes/footer.pug
            //- footer end

    script.
        $(function() {

            new Swiper('.card-product .product-box', {
                slidesPerView: 4.5,
                //- loopAdditionalSlides: 5,
                spaceBetween: 32,
                initialSlide: 0,
                loop: false,
                autoplay : false,
                paginationClickable: true,
                //- mousewheel: {
                //-     invert: true,
                //- },
                breakpoints: {
                    800: {
                        slidesPerView: 2.5,
                        spaceBetween: 20,
                    },
                    1179: {
                        slidesPerView: 3.5,
                        spaceBetween: 16,
                    },
                },
            });

            new Swiper('.card-event .event-box', {
                slidesPerView: 2,
                spaceBetween: 40,
                initialSlide: 0,
                loop: false,
                autoplay : false,
                navigation: {
                    prevEl: ".card-event .swiper-button-prev",
                    nextEl: ".card-event .swiper-button-next"
                },

                paginationClickable: true,
                breakpoints: {
                    580: {
                        slidesPerView: 1.5,
                        spaceBetween: 16,
                    },
                    800: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                    },
                },
            });

            new Swiper('.card-photo  .photo-list', {
                slidesPerView: 'auto',
                slidesPerView: 5.5,
                spaceBetween: 0,
                loop: true,
                loopAdditionalSlides: 5,
                freeMode: true,
                speed: 5000,
                autoplay: {
                    delay: 0,
                    disableOnInteraction: true
                },
                breakpoints: {
                    580: {
                        slidesPerView: 2.5,
                    },
                    1024: {
                        slidesPerView: 3.5,
                    },
                    1179: {
                        slidesPerView: 4.5,
                    },
                },
            });

            new Swiper('.card-intro .intro-box', {
                slidesPerView: 1,
                spaceBetween: 0,
                initialSlide: 0,
                effect: 'fade',
                loop: true,
                speed: 100,
                autoplay: {
                    delay: 300,
                },
            });
        });
        
