.zone 
    header.card-header 
        .mobile 
            .burger 
                span.txt 
                .site-header__menu-btn
                    span.ll-at-background-prevent
                    span.ll-at-background-prevent  
                    span.ll-at-background-prevent  
                    span.ll-at-background-prevent 
            a.mobile-logo(href="index.html") 
                .img
            a.cart(href="index.html") 
                .img
                //- span.badge
                //-     span.num 3
        .sidebar
            a#anchor(href="javascript:;")
            a.logo(href="index.html") 
                .img
            .logo-txt
                .img
            a.burger(href="#anchor") 
                span.txt 
                .site-header__menu-btn
                    span.ll-at-background-prevent
                    span.ll-at-background-prevent  
                    span.ll-at-background-prevent  
                    span.ll-at-background-prevent 
                //- img(src="./images/menu.png")
            a.cart(href="index.html") 
                .img
                //- span.badge
                //-     span.num 3
        .main-menu
            .box 
                ul.menu-list 
                    li 
                        a(href="index.html") 
                            span.cn 首頁
                            span.en HOME
                    li 
                        a(href="product.html") 
                            span.cn 商品總覽
                            span.en PRODUCTS
                    li 
                        a(href="javascript:;") 
                            span.cn 最新活動
                            span.en EVENTS
                    li 
                        a(href="javascript:;") 
                            span.cn 來點相簿
                            span.en 
                                | PHOTOS
            .menu-info 
                ul.info-box 
                    li 
                        | 地址｜台北市大安區復興南路一段26號
                    li 
                        | 電話｜02-2462121
                .social-box 
                    a(href="javascript:;") 
                        .social-icon.facebook-icon
                    a(href="javascript:;") 
                        .social-icon.instagram-icon

    script.
        $(function() {
            var burger = $('.burger')

            burger.mouseenter(function () {
                $(this).find('.site-header__menu-btn').addClass('hover')
            }).mouseleave(function() {
                $(this).find('.site-header__menu-btn').removeClass('hover')
            })

            burger.on('click', function() {
                var hasClass =  $(this).find('.site-header__menu-btn').hasClass('open')
                if (!hasClass) {
                    $(this).find('.site-header__menu-btn').addClass('open')
                    $('.main-menu, .sidebar, .mobile').addClass('open')
                    $('body').css({ 'overflow-y': 'hidden' })
                }
                else {
                    $(this).find('.site-header__menu-btn').removeClass('open')
                    $('.main-menu, .sidebar, .mobile').removeClass('open')
                    $('body').css({ 'overflow-y': '' })
                }
            })
        });
        


