.zone 
    header.card-header 
        .mobile 
            .burger 
                img(src="./images/menu.png")
            a.mobile-logo(href="index.html") 
                img(src="./images/mobile-logo.png")
            a.cart(href="index.html") 
                img(src="./images/cart-icon.png")
                span.badge
                    span.num 3
        .sidebar
            a.logo(href="index.html") 
                .img(src="./images/sidebar_logo.png")
            .logo-txt
                .img(src="./images/sidebar-txt.png")
            .burger 
                img(src="./images/menu.png")
            a.cart(href="index.html") 
                .img(src="./images/cart-icon.png")
                span.badge
                    span.num 3
        .main-menu
            ul.menu-list 
                li 
                    a(href="index.html") 
                        span.cn 首頁
                        span.en HOME
                li 
                    a(href="product.html") 
                        span.cn 商品總覽
                        span.en PRODUCTS
                li 
                    a(href="javascript:;") 
                        span.cn 最新活動
                        span.en EVENTS
                li 
                    a(href="javascript:;") 
                        span.cn 來點相簿
                        span.en 
                            | PHOTOS
            .menu-info 
                ul.info-box 
                    li 
                        | 地址｜台北市大安區復興南路一段26號
                    li 
                        | 電話｜02-2462121
                .social-box 
                    a(href="javascript:;") 
                        .social-icon.facebook-icon
                    a(href="javascript:;") 
                        .social-icon.instagram-icon





        