.zone 
    header.card-header 
        .mobile 
            .burger 
                img(src="./images/menu.png")
            a.mobile-logo(href="index.html") 
                img(src="./images/mobile-logo.png")
            a.cart(href="index.html") 
                img(src="./images/cart-icon.png")
                span.badge
                    span.num 3
        .sidebar
            a.logo(href="index.html") 
                img(src="./images/sidebar_logo.png")
            .logo-txt
                img(src="./images/sidebar-txt.png")
            .burger 
                img(src="./images/menu.png")
            a.cart(href="index.html") 
                img(src="./images/cart-icon.png")
                span.badge
                    span.num 3





    